extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") Who Am I?
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/account') My Account
                    li
                        a(href='/play') Play
                    li
                        a(href='#') Leaderboard

    .container.center
        .row
            .col
                h1.text-center.who-am-i-title Who Am I?

                - for (var i = 0; i < userInfo.clues; ++i){
                      .jumbotron.fact(id= "clue" + (i+1))
                          blockquote.fact
                              h2 #{question.facts[i]}

                - }
        .row
            button.btn.btn-default#getClueBtn(onclick="getClue()") Get another clue

